KAGGLE_CONFIG_DIR: "<PATH TO KAGGLE.JSON-FILE>"

DATASET_NAME: "rogate16/amazon-reviews-2018-full-dataset"

DOWNLOAD_PATH: "Data"

FILE_PATH: "Data/amazon_reviews.csv"

OUTPUT_PATH: "Data/cleaned_amazon_reviews.csv"

PLOT_OUTPUT_PATH: "Data/coherence_plot.png"

LDA_OUTPUT_PATH: "Data/LDA_Topics_Export.csv"

LSA_PLOT_PATH: "Data/lsa_plot.png"

LSA_OUTPUT_PATH: "Data/LSA_Topics_Export.csv"
